.root {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  grid-gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d3d047;
}
